.song{
    text-align: center;
    background-color: blue;
    margin-top: 20px;
    padding-left: 300px; padding-right: 30px; padding-top: 30px;
    padding-bottom: 30px;
    margin-left: 100px;margin-left: 100px;margin-right: 100px;
    margin-bottom: 100px;
}
.mango{
    text-align: center;
    background-color: blue;
    margin-top: 20px;
    padding-left: 300px; padding-right: 30px; padding-top: 30px;
    padding-bottom: 30px;
    margin-left: 100px;margin-left: 100px;margin-right: 100px;
    margin-bottom: 100px;

}
.guava{
    text-align: center;
    background-color: blue;
    margin-top: 20px;
    padding-left: 300px; padding-right: 30px; padding-top: 30px;
    padding-bottom: 30px;
    margin-left: 100px;margin-left: 100px;margin-right: 100px;
    margin-bottom: 100px;

}
.amra{
    text-align: center;
    background-color: blue;
    margin-top: 20px;
    padding-left: 300px; padding-right: 30px; padding-top: 30px;
    padding-bottom: 30px;
    margin-left: 100px;margin-left: 100px;margin-right: 100px;
    margin-bottom: 100px;
    

}